<link rel="stylesheet" type="text/css" href="signin-view/css/signin.css">
<div class="ui raised segment signin">
	<div class="ui centered page grid">
		<div class="six wide column">
			<form class="ui form">
				<h2 class="ui dividing header">Sign in</h2>
				<div class="required field">
					<label>Username</label>
					<div class="ui icon input">
						<input placeholder="Username" type="text" ng-model="signinUser.username">
						<i class="user icon"></i>
					</div>
				</div>
				<div class="required field">
					<label>Password</label>
					<div class="ui icon input">
						<input placeholder="Password" type="text" ng-model="signinUser.password">
						<i class="lock icon"></i>
					</div>
				</div>
				<div class="row">
						<div class="positive ui button signinBtn">Sign in</div>
						<div class="negative ui button cancelSigninBtn" ng-click="goHome()">Go home</div>
				</div>
			</form>
		</div>
	</div>
</div>