/** {
	border: 1px solid red !important;
}*/
#chat-container .banner {
    margin-top: 24px;
    min-height: 200px;
    border-radius: 0px;
}

#chat-container .banner .header {
    margin-top: 50px;
    text-align: center;
    font-size: 3rem;
}

#chat-container .comments {
    max-width: 100%;
}