<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Strait|Economica' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="home-view/css/main.css">
<div class="ui vertical segment" id="index-banner">
	<div class="ui centered page grid">
		<div class="ten wide column">
			<div class="ui centered page grid">
				<img class="ui image" id="logo" src="home-view/images/ziffer_logo.png">
				<h1 class="ziffer-name">Ziffer</h1>
			</div>
		</div>
	</div>
</div>
<div class="ui vertical segment">
	<div class="sixteen wide column">
		<div class="ui three column stackable centered page grid information">
			<div class="column">
				<h3>ANYWHERE</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo nisi sit amet purus posuere maximus sit amet vitae lectus. Fusce nibh lorem, condimentum eu felis molestie, mattis aliquet sapien.
				</p>
			</div>
			<div class="column">
				<h3>ANYWHEN</h3>
				<p>
					Suspendisse potenti. Vestibulum a ligula dui. Sed commodo elementum ultrices. Donec rutrum erat quis elit vestibulum faucibus.
				</p>
			</div>
			<div class="column">
				<h3>RELIABLE</h3>
				<p>
					Nam sollicitudin felis lorem, ac sollicitudin enim convallis ultricies. Donec sed enim ante. Nulla facilisi. Cras elit mi, vestibulum a semper nec, venenatis at magna.
				</p>
			</div>
		</div>
	</div>
</div>