<link rel="stylesheet" type="text/css" href="dashboard-view/css/dashboard.css">
<script src="dashboard-view/js/dash-semantic.js"></script>
<!-- Category banner -->
<div class="ui vertical inverted banner segment">
	<div class="ui centered page grid">
		<div class="fourteen wide column">
			<div class="ui grid">
				<div class="twelve wide column hidden transition category-info">
					<!-- Fecth info accordingly add controller -->
					<h1 class="ui inverted header">{{selectedCategory.name || "Welcome"}}</h1>
					<p>Quote</p>
				</div>
				<div class="four wide column">
					<div class="ui form">
						<div class="field">
							<!-- <div class="ui selection dropdown" id="change-cat-dropdown">
								<input id="change-category" name="cat-change" type="hidden">
								<div class="default text">Change category</div>
								<i class="inverted dropdown icon"></i>
								<div class="menu">
									<div class="item" ng-repeat="category in categories | orderBy: orderProp" data-value="{{category.id}}" ng-click="console.log('works')">{{category.name}}</div>
								</div>
							</div> -->
							<dropdown element="" ng-model="selectedCategory" open="false" id="change-cat-dropdown">
								<dropdown-group element="category" ng-repeat="category in categories | orderBy: orderProp">{{category.name}}</dropdown-group>
							</dropdown>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Main section -->
<div class="ui basic segment">
	<div class="ui centered page grid">
		<!-- Buttons section -->
		<div class="ten wide column">
			<div class="ui basic segment">
				<div class="ui centered grid">
					<div class="2 fluid ui buttons">
						<div class="ui orange button">
							<i class="help icon"></i>
							Ask doubt
						</div>
						<div class="ui purple button">
							<i class="book icon"></i>
							Solve doubt
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fourteen wide column">
			<div class="ui segment">
				<div class="column">
					<div class="row">
						<div class="ui fluid left action icon input">
							<!-- Add controller and model -->
							<div class="ui floating dropdown icon button">
								<i class="filter icon"></i>
								<div class="menu">
									<div class="header">Filter by</div>
									<div class="header">
										<div class="ui form">
											<div class="field">
												<div class="ui radio checkbox">
												<input name="filters" type="radio" ng-model="sel" value="1" id="filter-rb-1">
												<label for="filter-rb-1">F1</label>
												</div>
											</div>
											<div class="field">
												<div class="ui radio checkbox">
													<input name="filters" type="radio" ng-model="sel" value="2" id="filter-rb-2">
													<label for="filter-rb-2">F2</label>
												</div>
											</div>
											<div class="field">
												<div class="ui radio checkbox">
													<input name="filters" type="radio" ng-model="sel" value="3" id="filter-rb-3">
													<label for="filter-rb-3">F3</label>
												</div>
											</div>
											<div class="field">
												<div class="ui radio checkbox">
													<input name="filters" type="radio" ng-model="sel" value="4" id="filter-rb-4">
													<label for="filter-rb-4">F4</label>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="ui form">
											<div class="field">
												<div class="ui checkbox">
													<input type="checkbox" ng-model="userBox" id="username-filter-cb">
													<label for="username-filter-cb">Username</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<input placeholder="Search..." type="text" id="search-field" ng-model="searchTerm">
							<!-- Add ng-show attribute to search icon -->
							<i class="search icon"></i>
						</div>
					</div>
					<div class="row">
						<p>selection = {{sel}}, userBox = {{userBox}}, term = {{searchTerm}}, category = {{selectedCategory}}</p>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>