<link rel="stylesheet" type="text/css" href="dashboard-view/css/dashboard.css">
<script src="dashboard-view/js/dash-semantic.js"></script>
<!-- Category banner -->
<div class="ui vertical inverted banner segment" style="border-radius: 0px">
	<div class="ui centered page grid">
		<div class="fourteen wide column">
			<div class="ui grid">
				<div class="twelve wide column hidden transition category-info">
					<h1 class="ui inverted header" ng-cloak>{{selectedCategory.name || "Welcome"}}</h1>
					<p>Quote</p>
				</div>
				<div class="four wide column">
					<div class="ui form">
						<div class="field">
							<div class="ui selection dropdown" id="change-cat-dropdown">
								<input name="cat-dropdown" type="hidden">
								<div class="default text">Change category</div>
								<i class="dropdown inverted icon"></i>
								<div class="menu">
									<div class="item" ng-cloak ng-repeat="category in categories | orderBy: orderCategory" data-value="{{category}}" ng-click="$parent.selectedCategory=category">{{category.name}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Ask button -->
	<div class="ui centered page grid" id="ask-container">
		<div class="fourteen wide column">
			<div class="grid">
				<div class="left floated five wide column">
					<div class="ui animated inverted fluid orange button">
						<div class="hidden content">Ask</div>
						<div class="visible content"><i class="help icon"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Main section -->
<div class="ui basic segment">
	<div class="ui centered page grid">
		<!-- Search bar and doubts section -->
		<div class="fourteen wide column">
			<div class="ui segment">
				<div class="column">
					<div class="row">
						<div class="ui fluid left action icon input">
							<div class="ui floating dropdown icon button">
								<i class="filter icon"></i>
								<div class="menu">
									<div class="header"><i class="list icon"></i>Order by</div>
									<div class="item">
										<div class="ui form">
											<div class="field">
												<div class="ui radio checkbox">
													<input name="orders" type="radio" ng-model="selectedOrder" data-value="false" id="order-rb-1">
													<label for="order-rb-1"><i class="sort content ascending icon"></i>Ascending</label>
												</div>
											</div>
											<div class="field">
												<div class="ui radio checkbox">
													<input name="orders" type="radio" ng-model="selectedOrder" data-value="true" id="order-rb-2">
													<label for="order-rb-2"><i class="sort content descending icon"></i>Descending</label>
												</div>
											</div>
										</div>
									</div>
									<div class="divider"></div>
									<div class="item">
										<div class="ui form">
											<div class="field">
												<div class="ui radio checkbox">
													<input name="criteria" type="radio" ng-model="selectedCriteria" value="1" id="criteria-rb-1">
													<label for="criteria-rb-1"><i class="calendar icon"></i>Close date</label>
												</div>
											</div>
											<div class="field">
												<div class="ui radio checkbox">
													<input name="criteria" type="radio" ng-model="selectedCriteria" value="2" id="criteria-rb-2">
													<label for="criteria-rb-2"><i class="calendar outline icon"></i>Date created</label>
												</div>
											</div>
											<div class="field">
												<div class="ui radio checkbox">
													<input name="criteria" type="radio" ng-model="selectedCriteria" value="3" id="criteria-rb-3">
													<label for="criteria-rb-3"><i class="star icon"></i>Score</label>
												</div>
											</div>
										</div>
									</div>
									<div class="divider"></div>
									<div class="header"><i class="user icon"></i>Filter by user</div>
									<div class="item">
										<div class="ui form">
											<div class="field">
												<div class="ui checkbox">
													<input type="checkbox" ng-model="filterByUser" id="username-filter-cb">
													<label for="username-filter-cb">Username</label>
												</div>
											</div>
										</div>
									</div>
									<div class="header"><i class="tags icon"></i>Filter by tags</div>
									<div class="item">
										<div class="ui form">
											<div class="field">
												<div class="ui checkbox">
													<input type="checkbox" ng-model="tagLabels[0].included" id="tag-cb-1">
													<label for="tag-cb-1" ng-cloak>{{tagLabels[0].name}}</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<input placeholder="Search..." type="text" id="search-field" ng-model="searchTerm">
							<!-- Add ng-show attribute to search icon -->
							<i class="search icon"></i>
						</div>
					</div>
					<div class="ui hidden divider"></div>
					<div class="row" ng-cloak>
						<div class="ui celled list">
							<!-- Fix search order -->
							<div class="item" ng-repeat="doubt in doubtList | filter:searchTerm | orderBy:title:true">
								<!-- Add ng-click to button for modal -->
								<div class="right floated ui button">Peek</div>
								<div class="content">
									<div class="header">{{doubt.title}}</div>
									<div class="meta">
										<a>{{doubt.user.username}}</a>
										<span class="score"> / {{doubt.user.score}} points</span>
									</div>
									<div class="description">
										<div class="ui horizontal link list">
											<div class="item">Created on: {{doubt.dateCreated + 'T00:00:00' | date:'MM/dd/yyyy'}}</div>
											<div class="item">Until: {{doubt.closeDate + 'T00:00:00' | date:'MM/dd/yyyy'}}</div>
										</div>
									</div>
									<div class="extra">
										<div class="ui label" ng-repeat="tag in doubt.tags">{{tag}}</div>
									</div>
								</div>
							</div>
						</div>
						<br>
						<p>order = {{selectedOrder}}, selection = {{selectedCriteria}}, userBox = {{filterByUser}}, term = {{searchTerm}}, category = {{selectedCategory}}, tag = {{tagLabels}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>