

<div class="grid center-cont">
    <div class="ui two column centered grid">
        <div class="row info-content">

            <div class="column centered">
                <div class="ui content segment center-form" style="padding-top: 100px">
                    <form class="ui form">


                    <div class="required field">
                        <label for="Username">Username: </label>
                        <input type="text" name="password" placeholder="username" ng-model="profile.username" class="register">
                    </div>

                    <div class="required field">
                        <label for="password">Password: </label>
                        <input type="password" name="password" placeholder="password" ng-model="profile.password" class="register">
                    </div>

                    <div class="required field">
                        <label for="confirm">Confirm password: </label>
                        <input type="password" name="confirme" ng-model="profile.confirme" class="register">
                    </div>

                    <div class="positive ui button signin-btn">
                        Sign up
                    </div>

                    <div class="negative ui button cancelSigninBtn" ng-click="goHome()">
                      Go home
                    </div>

                </form>
            </div>{{profile.username}}
        </div>
    </div>
</div>
</div>
</body>
</html><!---->
