

<div class="grid center-cont">
    <div class="ui two column centered grid">
        <div class="row info-content">

            <div class="column centered">
                <div class="ui content segment center-form" style="padding-top: 100px">
                    <div class="ui form"  style="padding-top: 8px">

                        <div class="required field">
                            <label for="Username">Username: </label>
                            <input type="text" name="password" value="" ng-model="profile.username">
                        </div>

                        <div class="required field">
                            <label for="password">Password: </label>
                            <input type="password" name="password" value="" ng-model="password">
                        </div>

                        <div class="required field">
                            <label for="confirm">Confirmar password: </label>
                            <input type="password" name="confirm" ng-model="confirm">
                        </div-->

                        <div class="ui basic button>
                            Save
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html><!---->